types/global/gndms-c3grid.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema targetNamespace="http://gndms.zib.de/c3grid/types"
	    xmlns:gndms="http://gndms.zib.de/common/types"
        xmlns:impl="http://gndms.zib.de/c3grid/types"
	    xmlns:slice="http://dspace.gndms.zib.de/DSpace/Slice/types"
        xmlns:dspace="http://dspace.gndms.zib.de/DSpace/types"
	    xmlns:lofis="http://lofis.gndms.zib.de/LOFIS/LofiSet/types"
	    xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd"
	    xmlns:wst="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd"
	    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema"
        xml:lang="EN">

<import namespace="http://dspace.gndms.zib.de/DSpace/types"
        schemaLocation="../DSpace/DSpaceTypes.xsd" />

<import namespace="http://dspace.gndms.zib.de/DSpace/Slice/types"
    schemaLocation="../DSpace/SliceTypes.xsd" />

<import namespace="http://lofis.gndms.zib.de/LOFIS/LofiSet/types"
        schemaLocation="../LOFIS/LofiSetTypes.xsd" />

<import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd"
		schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />

<import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd"
		schemaLocation="../wsrf/lifetime/WS-ResourceLifetime.xsd" />

<import namespace="http://gndms.zib.de/common/types"
		schemaLocation="gndms-common.xsd" />

 <complexType name="ObjectListT">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="Item" type="xsd:string" />
    </sequence>
 </complexType>

<complexType name="NameValEntryT">
    <sequence>
      <element name="PName" type="xsd:string" />
      <element name="PVal" type="xsd:string" />
    </sequence>
  </complexType>

 <complexType name="ConstraintListT">
    <!-- List of (name,value) pairs used to select data subset - triggers preprocessing and filtering operations
      item denotes generic non cf constraints
      to do: use of apache map type - see "building Web Services with Java" Book, second edition page 282 ??
    -->
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="Item" type="impl:NameValEntryT" />
    </sequence>
  </complexType>

  <complexType name="CFListT">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="CFItem" type="xsd:string" />
    </sequence>
  </complexType>

  <complexType name="BaseDataFileT">
    <sequence>
      <element name="Pinned" type="xsd:boolean" />
      <element name="File" type="xsd:anyURI" />
    </sequence>
  </complexType>

<complexType name="SpaceConstraintT">
    <sequence>
          <element name="Latitude" minOccurs="0" maxOccurs="1" type="impl:MinMaxT" />
          <element name="Longitude" minOccurs="0" maxOccurs="1" type="impl:MinMaxT" />
          <element name="AreaCRS" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <element name="Altitude" minOccurs="0" maxOccurs="1" type="impl:MinMaxT" />
          <element name="VerticalCRS" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </sequence>
 </complexType>

 <complexType name="MinMaxT">
    <sequence>
      <element name="Min" type="xsd:double" />
      <element name="Max" type="xsd:double" />
    </sequence>
  </complexType>

<complexType name="TimeConstraintT">
    <sequence>
      <!-- actually an xsd:date but due to axis bugs with dates < 1900 AD we use string and
           specify it to be a proper ISO date string -->
      <element maxOccurs="1" minOccurs="0" name="MinTime" type="string" />
      <element maxOccurs="1" minOccurs="0" name="MaxTime" type="string" />
    </sequence>
</complexType>

<complexType name="DataDescriptorT">
	<sequence>
		<!-- Ids etc. zur Kennzeichnung der Zieldatensätze, z.B. (doi, doinr),(oid, 19:90194), (ceraid, ....) (mapid, ...)  usw.
		  i.A. vom Portal aus Metadaten des Infodienstes gefüllt  -->
		<element name="ObjectList" type="impl:ObjectListT"/>

        <!-- JustDownload if missing -->
        <element name="Constraints" minOccurs="0" maxOccurs="1">
            <complexType>
                <sequence>
                    <element name="SpaceConstr" type="impl:SpaceConstraintT" minOccurs="1" maxOccurs="1"/>

                    <element name="TimeConstr" type="impl:TimeConstraintT" minOccurs="0" maxOccurs="1" />

                    <!-- gewünschte cf variablen , von Portalnutzer ausgewählt  -->
                    <element name="CFList" type="impl:CFListT" />

                    <!-- zusätzliche Restrictionen, Prozessing optionen etc. z.B. <...>  -->
                    <element name="ConstraintList" type="impl:ConstraintListT" />
                </sequence>
            </complexType>
        </element>

		<element name="DataFormat" type="string" minOccurs="1" maxOccurs="1"/>
        <element name="DataArchiveFormat" type="string" minOccurs="0" maxOccurs="1" default="tar" />

		<element name="MetaDataFormat" type="string" minOccurs="1" maxOccurs="1"/>
        <element name="MetaDataArchiveFormat" type="string" minOccurs="0" maxOccurs="1" default="tar" />
	</sequence>
</complexType>

<complexType name="FileNameAndFormatT">
	<sequence>
		<element name="Name" type="gndms:FilenameT" minOccurs="1" maxOccurs="1"/>
		<element name="Format" type="xsd:normalizedString" minOccurs="1" maxOccurs="1"/>
	</sequence>
</complexType>

<element name="DataFile" type="gndms:FilenameT" />

<element name="MetadataFile" type="gndms:FilenameT" />



<!-- Physical layer operations -->

<complexType name="FileTransferORQT">
  <complexContent>
      <restriction base="gndms:DynamicOfferDataSeqT">
          <sequence>
            <element name="SourceUri" type="xsd:anyURI" minOccurs="1" maxOccurs="1" />
            <element name="DestinationUri" type="xsd:anyURI" minOccurs="1" maxOccurs="1" />
            <element name="Files" type="gndms:FileMappingSeqT" minOccurs="0" maxOccurs="1" />
          </sequence>
          <attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/FileTransfer" />
      </restriction>
  </complexContent>
</complexType>

<complexType name="FileTransferResultT">
    <complexContent>
        <restriction base="gndms:DynamicOfferDataSeqT">
            <sequence>
                <element ref="gndms:File" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
            <attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/FileTransfer" />
        </restriction>
    </complexContent>
</complexType>



<!-- Provider operations -->

<complexType name="ProviderStageInORQT">
  <complexContent>
	  <restriction base="gndms:DynamicOfferDataSeqT">
		  <sequence>
			<element name="StagedData" type="impl:DataDescriptorT" minOccurs="1" maxOccurs="1" />
			<element ref="impl:DataFile" minOccurs="1" maxOccurs="1"  />
			<element ref="impl:MetadataFile" minOccurs="1" maxOccurs="1"  />
		  </sequence>
		  <attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/ProviderStageIn" />
	  </restriction>
  </complexContent>
</complexType>

<complexType name="ProviderStageInResultT">
	<complexContent>
		<restriction base="gndms:DynamicOfferDataSeqT">
			<sequence>
				<element ref="slice:SliceReference" minOccurs="1" maxOccurs="1"/>
			</sequence>
			<attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/ProviderStageIn" />
		</restriction>
	</complexContent>
</complexType>



<!-- Slice layer operations -->

<complexType name="SliceStageInORQT">
  <complexContent>
      <restriction base="gndms:DynamicOfferDataSeqT">
          <sequence>
            <element name="GridSite" type="gndms:GridSiteT" minOccurs="0" maxOccurs="1"/>
            <element name="StagedData" type="impl:DataDescriptorT" minOccurs="1" maxOccurs="1" />
            <element ref="impl:DataFile" minOccurs="1" maxOccurs="1"  />
            <element ref="impl:MetadataFile" minOccurs="1" maxOccurs="1"  />
          </sequence>
          <attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/SliceStageIn" />
      </restriction>
  </complexContent>
</complexType>

<complexType name="SliceStageInResultT">
    <complexContent>
        <restriction base="gndms:DynamicOfferDataSeqT">
            <sequence>
                <element ref="slice:SliceReference" minOccurs="1" maxOccurs="1"/>
            </sequence>
            <attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/SliceStageIn" />
        </restriction>
    </complexContent>
</complexType>

<complexType name="InterSliceTransferORQT">
  <complexContent>
      <restriction base="gndms:DynamicOfferDataSeqT">
          <sequence>
            <element name="SourceSlice" type="gndms:SliceReferenceT" minOccurs="1" maxOccurs="1" />
            <element name="DestinationSlice" type="gndms:SliceReferenceT" minOccurs="1" maxOccurs="1" />
            <element name="Files" type="gndms:FileMappingSeqT" minOccurs="0" maxOccurs="1" />
          </sequence>
          <attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/InterSliceTransfer" />
      </restriction>
  </complexContent>
</complexType>

<complexType name="InterSliceTransferResultT">
    <complexContent>
        <restriction base="gndms:DynamicOfferDataSeqT">
            <sequence>
                <element ref="gndms:File" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
            <attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/InterSliceTransfer" />
        </restriction>
    </complexContent>
</complexType>

<complexType name="RePublishSliceORQT">
    <complexContent>
        <restriction base="gndms:DynamicOfferDataSeqT">
            <sequence>
                <!-- Slice that are to be published -->
                <element ref="slice:SliceReference"  minOccurs="1" maxOccurs="1"/>
                <element name="Files" type="gndms:FileMappingSeqT" minOccurs="0" maxOccurs="1" />
            </sequence>
            <attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/RePublishSlice" />
        </restriction>
    </complexContent>
</complexType>

<complexType name="RePublishSliceResultT">
    <complexContent>
        <restriction base="gndms:DynamicOfferDataSeqT">
            <sequence>
                <!-- Arbitrary slice containing copies of the selected logical files.
                     The slice is *not* used as a replica of the LofiSet -->
                <element ref="slice:SliceReference" minOccurs="1" maxOccurs="1"/>
            </sequence>
            <attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/RePublishSlice" />
        </restriction>
    </complexContent>
</complexType>



<!-- Logical replica management layer operations -->

<complexType name="LofiSetStageInORQT">
  <complexContent>
      <restriction base="gndms:DynamicOfferDataSeqT">
          <sequence>
            <element name="GridSite" type="gndms:GridSiteT" minOccurs="0" maxOccurs="1"/>
            <element name="StagedData" type="impl:DataDescriptorT" minOccurs="1" maxOccurs="1" />
            <element ref="impl:DataFile" minOccurs="1" maxOccurs="1"  />
            <element ref="impl:MetadataFile" minOccurs="1" maxOccurs="1"  />
          </sequence>
          <attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/LofiSetStageIn" />
      </restriction>
  </complexContent>
</complexType>

<complexType name="LofiSetStageInResultT">
    <complexContent>
        <restriction base="gndms:DynamicOfferDataSeqT">
            <sequence>
                <element ref="lofis:LofiSetReference" minOccurs="1" maxOccurs="1"/>
            </sequence>
            <attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/LofiSetStageIn" />
        </restriction>
    </complexContent>
</complexType>

<complexType name="PinORQT">
  <complexContent>
	  <restriction base="gndms:DynamicOfferDataSeqT">
		  <sequence>
			  <!-- Logical files that are to be pinned -->
			  <element ref="lofis:LofiSetReference"  minOccurs="1" maxOccurs="1"/>
			  <element ref="gndms:LofiMap" minOccurs="0" maxOccurs="1" />

			  <!-- Initial pinning target slice -->
			  <element name="Target">
                  <complexType>
                      <choice>
                         <element ref="slice:SliceReference" minOccurs="1" maxOccurs="1"/>
                         <element ref="dspace:DSpaceReference" minOccurs="1" maxOccurs="1"/>
                      </choice>
                  </complexType>
              </element>
		  </sequence>
		  <attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/Pin" />
	  </restriction>
  </complexContent>
</complexType>

<complexType name="PinResultT">
	<complexContent>
		<restriction base="gndms:DynamicOfferDataSeqT">
			<sequence>
				<!-- Pinned slice, may difffer from initial pinning target slice -->
				<element ref="slice:SliceReference" minOccurs="1" maxOccurs="1"/>
			</sequence>
			<attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/Pin" />
		</restriction>
	</complexContent>
</complexType>

<complexType name="RePublishLofiSetORQT">
	<complexContent>
		<restriction base="gndms:DynamicOfferDataSeqT">
			<sequence>
                <!-- Logical files that are to be published -->
                <element ref="lofis:LofiSetReference"  minOccurs="1" maxOccurs="1"/>
                <element ref="gndms:LofiMap" minOccurs="0" maxOccurs="1" />
			</sequence>
			<attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/RePublishLofiSet" />
		</restriction>
	</complexContent>
</complexType>

<complexType name="RePublishLofiSetResultT">
	<complexContent>
		<restriction base="gndms:DynamicOfferDataSeqT">
			<sequence>
				<!-- Arbitrary slice containing copies of the selected logical files.
				     The slice is *not* used as a replica of the LofiSet -->
				<element ref="slice:SliceReference" minOccurs="1" maxOccurs="1"/>
			</sequence>
			<attribute name="offerType" type="xsd:anyURI" fixed="http://www.c3grid.de/ORQTypes/RePublishLofiSet" />
		</restriction>
	</complexContent>
</complexType>

</schema>
