services/DSpace/schema/DSpace/DSpace.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://dspace.gndms.zib.de/DSpace" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns7="http://dspace.gndms.zib.de/DSpace/types" xmlns:ns0="http://gndms.zib.de/common/types" xmlns:ns6="http://dspace.gndms.zib.de/DSpace/Subspace/types" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:ns3="http://dspace.gndms.zib.de/DSpace/Slice/types" xmlns:ns4="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" xmlns:ns2="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" name="DSpace" targetNamespace="http://dspace.gndms.zib.de/DSpace">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://dspace.gndms.zib.de/DSpace" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://dspace.gndms.zib.de/DSpace/types" schemaLocation="./DSpaceTypes.xsd" />
      <import namespace="http://gndms.zib.de/common/types" schemaLocation="./gndms-common.xsd" />
      <import namespace="http://dspace.gndms.zib.de/DSpace/Subspace/types" schemaLocation="./SubspaceTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="./../ws/addressing/WS-Addressing.xsd" />
      <import namespace="http://dspace.gndms.zib.de/DSpace/Slice/types" schemaLocation="./SliceTypes.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="./../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="./../wsrf/lifetime/WS-ResourceLifetime.xsd" />
      <element name="GetSubspaceRequest">
        <complexType>
          <sequence>
            <element name="subspaceSpecifier">
              <complexType>
                <sequence>
                  <element ref="ns0:SubspaceSpecifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetSubspaceResponse">
        <complexType>
          <sequence>
            <element ref="ns6:SubspaceReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ListPublicSubspacesRequest">
        <complexType>
          <sequence>
            <element name="schemaURI" type="xs:anyURI" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ListPublicSubspacesResponse">
        <complexType>
          <sequence>
            <element ref="ns6:SubspaceReference" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="ListSupportedSchemasRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ListSupportedSchemasResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateSliceInSubspaceRequest">
        <complexType>
          <sequence>
            <element name="subspaceSpecifier">
              <complexType>
                <sequence>
                  <element ref="ns0:SubspaceSpecifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="sliceCreationSpecifier">
              <complexType>
                <sequence>
                  <element ref="ns0:SliceCreationSpecifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="context">
              <complexType>
                <sequence>
                  <element ref="ns0:Context" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CreateSliceInSubspaceResponse">
        <complexType>
          <sequence>
            <element ref="ns3:SliceReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="CallMaintenanceActionRequest">
        <complexType>
          <sequence>
            <element name="action" type="xs:string" minOccurs="1" maxOccurs="1" />
            <element name="options">
              <complexType>
                <sequence>
                  <element ref="ns0:Context" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CallMaintenanceActionResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:anyType" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="DSpaceResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetSubspaceRequest">
    <part name="parameters" element="tns:GetSubspaceRequest" />
  </message>
  <message name="GetSubspaceResponse">
    <part name="parameters" element="tns:GetSubspaceResponse" />
  </message>
  <message name="ListPublicSubspacesRequest">
    <part name="parameters" element="tns:ListPublicSubspacesRequest" />
  </message>
  <message name="ListPublicSubspacesResponse">
    <part name="parameters" element="tns:ListPublicSubspacesResponse" />
  </message>
  <message name="ListSupportedSchemasRequest">
    <part name="parameters" element="tns:ListSupportedSchemasRequest" />
  </message>
  <message name="ListSupportedSchemasResponse">
    <part name="parameters" element="tns:ListSupportedSchemasResponse" />
  </message>
  <message name="CreateSliceInSubspaceRequest">
    <part name="parameters" element="tns:CreateSliceInSubspaceRequest" />
  </message>
  <message name="CreateSliceInSubspaceResponse">
    <part name="parameters" element="tns:CreateSliceInSubspaceResponse" />
  </message>
  <message name="CallMaintenanceActionRequest">
    <part name="parameters" element="tns:CallMaintenanceActionRequest" />
  </message>
  <message name="CallMaintenanceActionResponse">
    <part name="parameters" element="tns:CallMaintenanceActionResponse" />
  </message>
  <message name="UnknownSubspaceFaultMessage">
    <part name="fault" element="ns7:UnknownSubspace" />
  </message>
  <message name="OutOfSpaceFaultMessage">
    <part name="fault" element="ns6:OutOfSpace" />
  </message>
  <message name="UnknownOrInvalidSliceKindFaultMessage">
    <part name="fault" element="ns6:UnknownOrInvalidSliceKind" />
  </message>
  <message name="InternalFailureFaultMessage">
    <part name="fault" element="ns7:InternalFailure" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="DSpacePortType" wsrp:ResourceProperties="tns:DSpaceResourceProperties">
    <operation name="GetSubspace">
      <input message="tns:GetSubspaceRequest" wsa:de.zib.gndms.action.Action="http://dspace.gndms.zib.de/DSpace/GetSubspaceRequest" />
      <output message="tns:GetSubspaceResponse" wsa:de.zib.gndms.action.Action="http://dspace.gndms.zib.de/DSpace/GetSubspaceResponse" />
      <fault name="UnknownSubspace" message="tns:UnknownSubspaceFaultMessage" wsa:de.zib.gndms.action.Action="http://dspace.gndms.zib.de/DSpace/UnknownSubspaceFaultMessage" />
    </operation>
    <operation name="ListPublicSubspaces">
      <input message="tns:ListPublicSubspacesRequest" wsa:de.zib.gndms.action.Action="http://dspace.gndms.zib.de/DSpace/ListPublicSubspacesRequest" />
      <output message="tns:ListPublicSubspacesResponse" wsa:de.zib.gndms.action.Action="http://dspace.gndms.zib.de/DSpace/ListPublicSubspacesResponse" />
    </operation>
    <operation name="ListSupportedSchemas">
      <input message="tns:ListSupportedSchemasRequest" wsa:de.zib.gndms.action.Action="http://dspace.gndms.zib.de/DSpace/ListSupportedSchemasRequest" />
      <output message="tns:ListSupportedSchemasResponse" wsa:de.zib.gndms.action.Action="http://dspace.gndms.zib.de/DSpace/ListSupportedSchemasResponse" />
    </operation>
    <operation name="CreateSliceInSubspace">
      <input message="tns:CreateSliceInSubspaceRequest" wsa:de.zib.gndms.action.Action="http://dspace.gndms.zib.de/DSpace/CreateSliceInSubspaceRequest" />
      <output message="tns:CreateSliceInSubspaceResponse" wsa:de.zib.gndms.action.Action="http://dspace.gndms.zib.de/DSpace/CreateSliceInSubspaceResponse" />
      <fault name="OutOfSpace" message="tns:OutOfSpaceFaultMessage" wsa:de.zib.gndms.action.Action="http://dspace.gndms.zib.de/DSpace/OutOfSpaceFaultMessage" />
      <fault name="UnknownOrInvalidSliceKind" message="tns:UnknownOrInvalidSliceKindFaultMessage" wsa:de.zib.gndms.action.Action="http://dspace.gndms.zib.de/DSpace/UnknownOrInvalidSliceKindFaultMessage" />
      <fault name="UnknownSubspace" message="tns:UnknownSubspaceFaultMessage" wsa:de.zib.gndms.action.Action="http://dspace.gndms.zib.de/DSpace/UnknownSubspaceFaultMessage" />
      <fault name="InternalFailure" message="tns:InternalFailureFaultMessage" wsa:de.zib.gndms.action.Action="http://dspace.gndms.zib.de/DSpace/InternalFailureFaultMessage" />
    </operation>
    <operation name="callMaintenanceAction">
      <input message="tns:CallMaintenanceActionRequest" wsa:Action="http://dspace.gndms.zib.de/DSpace/CallMaintenanceActionRequest" />
      <output message="tns:CallMaintenanceActionResponse" wsa:Action="http://dspace.gndms.zib.de/DSpace/CallMaintenanceActionResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:de.zib.gndms.action.Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:de.zib.gndms.action.Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

