services/LOFIS/schema/LOFIS/LofiSet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://lofis.gndms.zib.de/LOFIS/LofiSet" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wns3="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:wns2="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:ns6="http://dspace.gndms.zib.de/DSpace/types" xmlns:ns7="http://lofis.gndms.zib.de/LOFIS/types" xmlns:ns3="http://gndms.zib.de/common/types" xmlns:ns9="http://lofis.gndms.zib.de/LOFIS/LofiSet/types" xmlns:ns8="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns5="http://dspace.gndms.zib.de/DSpace/Subspace/types" xmlns:ns4="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:ns0="http://dspace.gndms.zib.de/DSpace/Slice/types" xmlns:ns2="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" xmlns:ns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" name="LofiSet" targetNamespace="http://lofis.gndms.zib.de/LOFIS/LofiSet">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="./../wsrf/lifetime/WS-ResourceLifetime.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="./../wsrf/notification/WS-BaseN.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://lofis.gndms.zib.de/LOFIS/LofiSet" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://dspace.gndms.zib.de/DSpace/types" schemaLocation="./DSpaceTypes.xsd" />
      <import namespace="http://lofis.gndms.zib.de/LOFIS/types" schemaLocation="./LOFISTypes.xsd" />
      <import namespace="http://gndms.zib.de/common/types" schemaLocation="./gndms-common.xsd" />
      <import namespace="http://lofis.gndms.zib.de/LOFIS/LofiSet/types" schemaLocation="./LofiSetTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://dspace.gndms.zib.de/DSpace/Subspace/types" schemaLocation="./SubspaceTypes.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="./../ws/addressing/WS-Addressing.xsd" />
      <import namespace="http://dspace.gndms.zib.de/DSpace/Slice/types" schemaLocation="./../DSpace/SliceTypes.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="./../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="./../wsrf/lifetime/WS-ResourceLifetime.xsd" />
      <element name="GrantReplicaSlicesRequest">
        <complexType>
          <sequence>
            <element name="sliceReference">
              <complexType>
                <sequence>
                  <element ref="ns0:SliceReference" minOccurs="1" maxOccurs="unbounded" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GrantReplicaSlicesResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetSubLofiSetRequest">
        <complexType>
          <sequence>
            <element name="lofiMap">
              <complexType>
                <sequence>
                  <element ref="ns3:LofiMap" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetSubLofiSetResponse">
        <complexType>
          <sequence>
            <element ref="ns9:LofiSetReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RegisterReplicaSlicesRequest">
        <complexType>
          <sequence>
            <element name="replicaSlices">
              <complexType>
                <sequence>
                  <element ref="ns3:ReplicaSlices" minOccurs="1" maxOccurs="unbounded" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="RegisterReplicaSlicesResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ReclaimReplicaSlicesRequest">
        <complexType>
          <sequence>
            <element name="sliceReference">
              <complexType>
                <sequence>
                  <element ref="ns0:SliceReference" minOccurs="1" maxOccurs="unbounded" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="ReclaimReplicaSlicesResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetReplicaSlicesRequest">
        <complexType>
          <sequence>
            <element name="replicaSliceFilter">
              <complexType>
                <sequence>
                  <element ref="ns3:ReplicaSliceFilter" minOccurs="1" maxOccurs="unbounded" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetReplicaSlicesResponse">
        <complexType>
          <sequence>
            <element ref="ns3:ReplicaSlices" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="LofiSetResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns1:CurrentTime" />
            <element ref="ns1:TerminationTime" />
            <element ref="ns3:LofiSeq" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GrantReplicaSlicesRequest">
    <part name="parameters" element="tns:GrantReplicaSlicesRequest" />
  </message>
  <message name="GrantReplicaSlicesResponse">
    <part name="parameters" element="tns:GrantReplicaSlicesResponse" />
  </message>
  <message name="GetSubLofiSetRequest">
    <part name="parameters" element="tns:GetSubLofiSetRequest" />
  </message>
  <message name="GetSubLofiSetResponse">
    <part name="parameters" element="tns:GetSubLofiSetResponse" />
  </message>
  <message name="RegisterReplicaSlicesRequest">
    <part name="parameters" element="tns:RegisterReplicaSlicesRequest" />
  </message>
  <message name="RegisterReplicaSlicesResponse">
    <part name="parameters" element="tns:RegisterReplicaSlicesResponse" />
  </message>
  <message name="ReclaimReplicaSlicesRequest">
    <part name="parameters" element="tns:ReclaimReplicaSlicesRequest" />
  </message>
  <message name="ReclaimReplicaSlicesResponse">
    <part name="parameters" element="tns:ReclaimReplicaSlicesResponse" />
  </message>
  <message name="GetReplicaSlicesRequest">
    <part name="parameters" element="tns:GetReplicaSlicesRequest" />
  </message>
  <message name="GetReplicaSlicesResponse">
    <part name="parameters" element="tns:GetReplicaSlicesResponse" />
  </message>
  <message name="UnsupportedOrInvalidSliceFaultMessage">
    <part name="fault" element="ns7:UnsupportedOrInvalidSlice" />
  </message>
  <message name="MissingSourceFilesFaultMessage">
    <part name="fault" element="ns7:MissingSourceFiles" />
  </message>
  <message name="ConflictingDestinationsInMapFaultMessage">
    <part name="fault" element="ns7:ConflictingDestinationsInMap" />
  </message>
  <message name="ConflictResolutionFailedFaultMessage">
    <part name="fault" element="ns7:ConflictResolutionFailed" />
  </message>
  <message name="UnavailableSliceFaultMessage">
    <part name="fault" element="ns9:UnavailableSlice" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="LofiSetPortType" wsrp:ResourceProperties="tns:LofiSetResourceProperties">
    <operation name="GrantReplicaSlices">
      <input message="tns:GrantReplicaSlicesRequest" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/GrantReplicaSlicesRequest" />
      <output message="tns:GrantReplicaSlicesResponse" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/GrantReplicaSlicesResponse" />
      <fault name="UnsupportedOrInvalidSlice" message="tns:UnsupportedOrInvalidSliceFaultMessage" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/UnsupportedOrInvalidSliceFaultMessage" />
    </operation>
    <operation name="GetSubLofiSet">
      <input message="tns:GetSubLofiSetRequest" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/GetSubLofiSetRequest" />
      <output message="tns:GetSubLofiSetResponse" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/GetSubLofiSetResponse" />
      <fault name="MissingSourceFiles" message="tns:MissingSourceFilesFaultMessage" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/MissingSourceFilesFaultMessage" />
      <fault name="ConflictingDestinationsInMap" message="tns:ConflictingDestinationsInMapFaultMessage" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/ConflictingDestinationsInMapFaultMessage" />
    </operation>
    <operation name="RegisterReplicaSlices">
      <input message="tns:RegisterReplicaSlicesRequest" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/RegisterReplicaSlicesRequest" />
      <output message="tns:RegisterReplicaSlicesResponse" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/RegisterReplicaSlicesResponse" />
      <fault name="ConflictResolutionFailed" message="tns:ConflictResolutionFailedFaultMessage" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/ConflictResolutionFailedFaultMessage" />
      <fault name="ConflictingDestinationsInMap" message="tns:ConflictingDestinationsInMapFaultMessage" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/ConflictingDestinationsInMapFaultMessage" />
      <fault name="MissingSourceFiles" message="tns:MissingSourceFilesFaultMessage" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/MissingSourceFilesFaultMessage" />
      <fault name="UnsupportedOrInvalidSlice" message="tns:UnsupportedOrInvalidSliceFaultMessage" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/UnsupportedOrInvalidSliceFaultMessage" />
    </operation>
    <operation name="ReclaimReplicaSlices">
      <input message="tns:ReclaimReplicaSlicesRequest" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/ReclaimReplicaSlicesRequest" />
      <output message="tns:ReclaimReplicaSlicesResponse" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/ReclaimReplicaSlicesResponse" />
      <fault name="UnsupportedOrInvalidSlice" message="tns:UnsupportedOrInvalidSliceFaultMessage" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/UnsupportedOrInvalidSliceFaultMessage" />
      <fault name="UnavailableSlice" message="tns:UnavailableSliceFaultMessage" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/UnavailableSliceFaultMessage" />
    </operation>
    <operation name="GetReplicaSlices">
      <input message="tns:GetReplicaSlicesRequest" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/GetReplicaSlicesRequest" />
      <output message="tns:GetReplicaSlicesResponse" wsa:de.zib.gndms.action.Action="http://lofis.gndms.zib.de/LOFIS/LofiSet/GetReplicaSlicesResponse" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:de.zib.gndms.action.Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:de.zib.gndms.action.Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy" />
      <wsdl:output message="wsrlw:DestroyResponse" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse" />
      <wsdl:fault message="wsrlw:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SetTerminationTime">
      <wsdl:input message="wsrlw:SetTerminationTimeRequest" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTime" />
      <wsdl:output message="wsrlw:SetTerminationTimeResponse" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTimeResponse" />
      <wsdl:fault message="wsrlw:UnableToSetTerminationTimeFault" name="UnableToSetTerminationTimeFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
      <wsdl:fault message="wsrlw:TerminationTimeChangeRejectedFault" name="TerminationTimeChangeRejectedFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Subscribe">
      <wsdl:input message="wsntw:SubscribeRequest" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/Subscribe" />
      <wsdl:output message="wsntw:SubscribeResponse" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/SubscribeResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault" />
      <wsdl:fault name="SubscribeCreationFailedFault" message="wsntw:SubscribeCreationFailedFault" />
      <wsdl:fault name="TopicPathDialectUnknownFault" message="wsntw:TopicPathDialectUnknownFault" />
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault" />
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:de.zib.gndms.action.Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
  </portType>
</definitions>

