services/WHORFX/schema/WHORFX/WHORFX.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gndms.zib.de/WHORFX" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns5="http://dspace.gndms.zib.de/DSpace/types" xmlns:ns6="http://gndms.zib.de/WHORFX/types" xmlns:ns1="http://gndms.zib.de/common/types" xmlns:ns7="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns0="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:ns4="http://dspace.gndms.zib.de/DSpace/Slice/types" xmlns:ns3="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" xmlns:ns2="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" name="WHORFX" targetNamespace="http://gndms.zib.de/WHORFX">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://gndms.zib.de/WHORFX" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://dspace.gndms.zib.de/DSpace/types" schemaLocation="./DSpaceTypes.xsd" />
      <import namespace="http://gndms.zib.de/WHORFX/types" schemaLocation="./WHORFXTypes.xsd" />
      <import namespace="http://gndms.zib.de/common/types" schemaLocation="./gndms-common.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="./../ws/addressing/WS-Addressing.xsd" />
      <import namespace="http://dspace.gndms.zib.de/DSpace/Slice/types" schemaLocation="./../DSpace/SliceTypes.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="./../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="./../wsrf/lifetime/WS-ResourceLifetime.xsd" />
      <element name="LookupORFRequest">
        <complexType>
          <sequence>
            <element name="orfType" type="xs:anyURI" minOccurs="1" maxOccurs="1" />
            <element name="context">
              <complexType>
                <sequence>
                  <element ref="ns1:Context" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="LookupORFResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:anyURI" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateMappingsRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="UpdateMappingsResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="CallMaintenanceActionRequest">
        <complexType>
          <sequence>
            <element name="action" type="xs:string" minOccurs="1" maxOccurs="1" />
            <element name="options">
              <complexType>
                <sequence>
                  <element ref="ns1:Context" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CallMaintenanceActionResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:anyType" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="WHORFXResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="LookupORFRequest">
    <part name="parameters" element="tns:LookupORFRequest" />
  </message>
  <message name="LookupORFResponse">
    <part name="parameters" element="tns:LookupORFResponse" />
  </message>
  <message name="UpdateMappingsRequest">
    <part name="parameters" element="tns:UpdateMappingsRequest" />
  </message>
  <message name="UpdateMappingsResponse">
    <part name="parameters" element="tns:UpdateMappingsResponse" />
  </message>
  <message name="CallMaintenanceActionRequest">
    <part name="parameters" element="tns:CallMaintenanceActionRequest" />
  </message>
  <message name="CallMaintenanceActionResponse">
    <part name="parameters" element="tns:CallMaintenanceActionResponse" />
  </message>
  <message name="UnknownORFTypeFaultMessage">
    <part name="fault" element="ns6:UnknownORFType" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="WHORFXPortType" wsrp:ResourceProperties="tns:WHORFXResourceProperties">
    <operation name="lookupORF">
      <input message="tns:LookupORFRequest" wsa:Action="http://gndms.zib.de/WHORFX/LookupORFRequest" />
      <output message="tns:LookupORFResponse" wsa:Action="http://gndms.zib.de/WHORFX/LookupORFResponse" />
      <fault name="UnknownORFType" message="tns:UnknownORFTypeFaultMessage" wsa:Action="http://gndms.zib.de/WHORFX/UnknownORFTypeFaultMessage" />
    </operation>
    <operation name="updateMappings">
      <input message="tns:UpdateMappingsRequest" wsa:Action="http://gndms.zib.de/WHORFX/UpdateMappingsRequest" />
      <output message="tns:UpdateMappingsResponse" wsa:Action="http://gndms.zib.de/WHORFX/UpdateMappingsResponse" />
    </operation>
    <operation name="callMaintenanceAction">
      <input message="tns:CallMaintenanceActionRequest" wsa:Action="http://gndms.zib.de/WHORFX/CallMaintenanceActionRequest" />
      <output message="tns:CallMaintenanceActionResponse" wsa:Action="http://gndms.zib.de/WHORFX/CallMaintenanceActionResponse" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

